/* Vesion 2.0 */
$colorBlack: #000000;
$colorDark: #292929;
$colorSecondary: #5b6fa3;
$colorSecondaryDark: #42548c;
$colorSecondaryUltraDark: #2d3d75;
$colorPrimary: #295dfb;
$colorPrimaryMedium: #bfc7da;
$colorPrimaryMiddle: #e4ecfa;
$colorPrimaryLight: #f6f9fd;
$colorPrimaryLight2: #d4e3fe;
$colorPrimaryUltraLight: #eff5ff;
$colorPrimarySuperLight: #f5f6fd;
$colorPrimaryDark: #1d47d7;
$colorPrimaryUltraDark: #1434b4;
$colorDanger: #e90b0b;
$colorDangerMedium: #fcb59c;
$colorDangerLight: #fddecd;
$colorDangerDark: #c80818;
$colorDangerUltraDark: #a70521;
$colorWarning: #ff9900;
$colorWarningMedium: #ffe299;
$colorWarningLight: #fff2cc;
$colorWarningDark: #db7a00;
$colorWarningUltraDark: #b75f00;
$colorSuccess: #4ac229;
$colorSuccessMedium: #a5ec7c;
$colorSuccessLight: #ccf8aa;
$colorSuccessDark: #31a61d;
$colorSuccessUltraDark: #1c8b14;
$colorSuccessSuperLight: #d3fac8;
$colorGray: #666666;
$colorGrayMedium: #cfcfcf;
$colorGrayLight: #f2f2f2;
$colorDisable: $colorPrimaryMedium;
$colorWhite: #fff;
$colorWhiteTypography: #F7F7EF;
$colorHover: $colorPrimarySuperLight;

$colorBackground: #f5f5f5;
$colorBackgroundMenu: #090c7b;
$colorMain: #bddbfc;
$colorActive: $colorWhite;
$colorLink: $colorWhite;
$colorBackgroundHeaderMenu: #0034b969;
$colorYellow: #f6d025;
$colorBule: #161fc9;